@{
    ViewData["Title"] = "Agregar Cliente";
}
<div class="has-text-centered">
    <br /><br />
    <h1 class="title" data-aos="zoom-out">Agregar un cliente</h1>
</div>
<br />
<br />
<div class="card" data-aos="fade-up" data-aos-delay="200">
    <div class="card-content">
        <div class="content">
            <form action="FormClient" method="post" enctype="multipart/form-data">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Nombre del Cliente</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Nombre" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Numero de telefono</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Numero de telefono" name="phoneNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Email del cliente</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Correo electronico" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Cedula</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Cedula" name="document">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">Categoria del cliente</label>
                        <div class="select is-fullwidth">
                            <select name="category">
                                <option value="1">Regular</option>
                                <option value="0">Premium</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="button is-large is-fullwidth">Enviar</button>
            </form>
        </div>
    </div>
</div>

